
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#square {
    visibility: visible;
    position: fixed;
    top: 500px;
    left: 1298px;
    opacity: 1;
    z-index: 5;
    }
