---
layout: default
---


</style>


<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>
<div id="square" class="scrollspy">
    <a href="#cntct">
        <div class="boxed-icon">
                <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        </div>
    </a>
</div>
    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form" id="cntct">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Consult us</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>
        </div>

    </div>
</div>

<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">About Us</h2>

        <div class="row">
            <div class="col-sm-7">
                <h3>Welcome to Extreme-Airs</h3>
                <p>Extreme Air System Pvt. Ltd is committed to manufacturing as well as design and development of
                  Twin Lobe Blower, Air Compressor, Water Cooled Compressor, Water ring Vacuum Pump and Cement Feeding
                   Systems. You can visit out Product Range for more insight into this.
                </p>


                <div class="media">
                    <div class="media-left">

                    </div>
                    <div class="media-body">

                        <ul>

                          <li>Extreme Air System Pvt. Ltd has started its activity
                         with newest vision and with best available contemporary technical knowledge
                         backed by long industry experience and wisdom. Before starting this venture,
                         directors of the company were actively involved in design, development, manufacturing
                          and marketing of the compressors and allied systems.</li>
                          <li>
                        The highly qualified directors are the foundation of the company.
                        Company is determined to provide best quality at affordable price by
                        use of latest engineering & quality assurance procedures and degree holder
                        employees. Optimum use of Computer Aided Design software, 3D modeling, stress
                        & thermal analysis software has made it possible to achieve above objective.
                        In this way, devotion to quality with affordability is ingrained in each and
                        every procedures, from design to after sale service, of the company.
                      </li>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Our team -->
<div id="allProducts" class="trending">
    <h2 class="section-title">All products</h2>
    <div id="team-carousel">
    {% for pump in site.data.products %}
        {% include pump.html %}
    {% endfor %}
    </div>
</div>
 <!--Modal-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body"> <p> hello </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- End Our team -->
<!-- Start Gallery -->
<div id="gallery" class="gallery">
<!--
Cement Feeding Systems:
This system is designed to feed cement or fly ash for packaging in bags/bunkers/screening applications as per clients' need.  It's used for conveying or feeding  the cement or fly ash into silos at Batching Plant sites. We provide highly customized systems with several designs and technical specifications to suit specific needs of our clients. We use high quality components in accordance with international quality standards and that too with most affordable prices.

Features:
Stable vibration, reliable operation and long service life
Smooth operation, great feeding capacity and high efficiency
Continuous and even feeding of cement or other powder based materials
Variable flow rate and operation mode
Excellent continuity and adjustable vibrating force
Dust-tight housing and high degree of sanitation
Stable vibration, simple operation and long service life
Low noise, power efficient and excellent adjustability

Twin Lobe Roots Blower
It's one of the type of positive displacement blower. They are high volume - low pressure units and used where high volume of air is required constantly at differential pressure. We manufacture wide range of blower with different capacity and with air cooled as well as water cooled option. We provide ready to install machine with all accessories as well as bare blower.

Applications:
Water Treatment Plants
Pneumatic Conveying System
Sewage Treatment Plants
Central Vacuum Cleaning System
Aeration in Storage silos
Air Drying
Blending
Charging of Kilns in Cement and Steel Plants
Effluent Treatment Plants
Dewatering and many more.

Water/Liquid Ring Vacuum Pump
It's used in concentrating, dipping, vacuum evaporation, drying or other processing applications. Vacuum pump is used to pump specific kinds of air or other gas.

Application:
Fly Ash Handling
Thermal & Atomic power plants
Textile Industry
Fertilizer plants
Steel Plants
Sugar Industry
Mineral Washeries
Chemical & Pharmaceutical Industry


 Management

Nisarg Jani

He's founder and director of the company. He is B.E. (Mechanical) and he has achieved his Bachelor's degree with distinction. He has done exemplary work in his last year project that was based on design advances in package boilers. He's having good knowledge of compressor and boiler designing. At very young age, he has mentored many students of master degree from reputed universities like Nirma as their external guide. He is overseeing vital areas of business such as vision setting, organizational structure development, broad policy matters and overall administration of the company.

Milap Bhatt

He's founder and director of the company. He holds M.Tech degree in CIM (Computer Integrated Manufacturing) from Nirma University. From the very beginning of his Bachelor's degree he's involved in compressor industry. His master degree's last year research work was based completely on the design aspects of roots blowers which led him to achieve stupendous grades in M.Tech. He is looking after day to day administration, quality control and inspection and supervising the whole manufacturing process.

Regards,
Nisarg Jani.-->

    <h2 class="section-title">Gallery</h2>
    {% for images in site.data.gallery %}
        {% include pumpSmall.html %}
    {% endfor %}

</div>
<div class="three-shade-col">
    <div class="col-sm-6">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %}
            {% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-6">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Location</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<div id="team" class="team">
        <h2 class="section-title">Team</h2>

        <div class="container">
            <div class="row">
        <br>
        <br>
        {% for person in site.data.team %}

            {% include person.html %}

        {% endfor %}
</div>

</div>
</div>
